:root{
    --color-primary: #8EC2AC;
    --color-secundary:#E0F3EB;
    --color-three:#2B4137;
}

header{
    background: var(--color-primary);
    box-shadow: 0px 0px 131.6px -18px #E0F3EB inset;
}

.logo img{
    max-width: 369px;
    height: 80px;
}

header button{
    margin-top: 0.7rem;
    border-radius: 25px;
    color:var(--color-three);
    border:none;
    font-size:1rem;
    padding: 5px 2.5rem;
}

.login button, .home-button button{
    background: var(--color-secundary);
}

.pesquisar__botao{
    border-radius: 0;
    padding: 2px 0.5rem;
    background: var(--color-three);
    color:#fff;
}

.content-wrapper{
    flex-wrap: wrap;
    margin-top: -6rem;
    margin-bottom: -4rem;
}

.home .image-container1 img{
    max-width: 600px;
    height: 612px;
    margin-left: -200px;
}

.wrapper-desktop img{
    height: 105px;
}

.home .image-container2 img{
    max-width: 265px;
    height: 223px;
    margin-left: -50px;
}

.box{
    background: #fff;
    border: 7px solid #8EC2AC;
    box-shadow: 0px 0px 131.6px -18px #E0F3EB inset;
    border-radius: 20px;
    margin: 0 10rem 12rem;
    column-gap:8rem;
}

.box h1{
    width:100%;
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
}

.box img{
    max-width: 250px;
}

.box div:last-child img{
    max-width: 175px;
}

.box div{
    padding: 3rem 0;
}

.header-mob{
    display: none!important;
}

@media screen and (max-width: 991px){
    .image-container1{
        display:none;
    }

    .content-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }

    .box{
        margin: 0 0 4rem;
    }

    .home .image-container2 img {
        max-width: 80%;
        height: 220px;
        margin: 1rem 2rem;
    }

    .header{
        display:none!important;
    }

    .header-mob{
        display: block!important;
    }

   .sidebar--menu.active {
        right: 0;
    }

    .sidebar--menu {
        position: fixed;
        right: -100%;
        top: 83px;
        transition: .5s;
        z-index: 1;
        background: #fff;
        padding: 10px;
    }

    .sidebar--menu button, .header-mob button{
        background: transparent;
    }

    .logo img {
        max-width: 170px;
        height: 50px;
    }

    .close button{
        padding: 0 0 10px;
        margin-left:6px;
    }

    .close{
        border-bottom: 1px solid #ccc;
    }
}